src/main/mule/jenkinspoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b393f891-55f0-419b-8b78-7a7868940c35" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinspocFlow" doc:id="866be0f8-c3b5-41d7-9e40-fe3de8828119" >
		<http:listener doc:name="Listener" doc:id="55ab1a3f-05d3-4571-afa7-c819506b295f" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<logger level="INFO" doc:name="Logger" doc:id="e6c01087-001a-4724-bdb1-ba0cb2998b8e" message="#[payload]"/>
	</flow>
</mule>
